@import '../partials/variables';

.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Roboto-Regular';
  display: grid;
  grid-template-columns: 350px 850px;
  column-gap: 20px;


  .left_sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    // left: 0;
    background: $clr-bg-secondary;
    z-index: 3;
    border: 1px solid #eee;
  }

  main {
    // padding-left: $sidebar-size;
    display: grid;
    grid-template-columns: 600px 350px;
    column-gap: 20px;

    .feed {
      background: $clr-bg-primary;
    }

    .right_sidebar {
      width: $sidebar-size;
      height: 100vh;
      position: sticky;
      top: 0;
      right: 0;
      background: $clr-bg-secondary;
      z-index: 3;
      color: white;
      border: 1px solid #eee;
    }
  }


}