@use "sass:map";

@mixin responseToSizeAbove($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin responseToSizeBelow($size) {
  @media (max-width: $size) {
    @content;
  }
}

/*
params
$size : ['sm', 'base', 'lg','xl',.., '9xl']
returns
font size: val;
line height: val; 
*/
@mixin setFontSize($size) {
  font-size: map.get($font-sizes, $size);
  line-height: map.get($line-heights, $size);
}