/* colors */
$clr-icon-primary: rgb(29, 161, 242);
$clr-text-primary: rgb(217, 217, 217);
$clr-text-secondary: rgb(110, 118, 125);
$clr-bg-primary: rgb(0, 0, 0);
$clr-bg-secondary: rgb(21, 24, 28);

/* screen sizes */
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;